body {
	background:#FFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9375rem;
}

p {
    font-size: 0.8125rem;
    line-height: 1.8;
}

a {
	text-decoration: none;
    color: $viyablue;
    &:link {
        color: $viyablue;
    }
}

img {
    max-width: 100%;
    height: auto;
    
    &.no-max {
        max-width: none;
    }
}

input[type="email"], input[type="password"] {
    border-radius: 5px;
    padding:6px 10px;
    width: 100%;
}

label {
    padding-left:0;
    width: 100%;
}

header {
    width: 100%;
    position: relative;
    .top {
        padding:3px 0;
        color: white;
        background-color: $viyablue;
        
        a{
            color: white;
        }
    }
    
    .masthead {
        padding:5px 0;
    }
}

.social {
        color: $viyablue;
        display: inline-block;
    }

#pageTop {
    
    padding-bottom: 1.875rem;
    
    
    #billingUpdate.btn {
        background: $viyaorange;
        color: white;
        border-radius: 0;
        display: block;
        font-weight: 600;
        text-shadow: 2px 3px 6px rgba(0,0,0,0.5);
        margin-bottom: 2rem;
        height: 42px;
    }
    
    .hero {
        height: auto;
        position: relative;
        background: url(../img/top-banner-bg.jpg);
        padding:45px;
        
        display: flex;
        justify-content: center;
        align-items: center;
        
        @include media-breakpoint-up(md) {
            height: 340px;
            padding:0;
        }
    }
    
    .hero-content {
        
        position:relative;
        text-align: center;
        
        p {
            font-size: 24px;
            font-weight: 600;
            color: $viyagray;
            margin-top: 1.5rem;
            line-height: 1.4;
        }
        
    }
    
    .jump {
        position: relative;
        
        min-height: 200px;
        background-color: $viyaorange;
        cursor: pointer;
        
        @include media-breakpoint-down(md) {
            margin-bottom: 1.875rem;
        }
        
        &.status {
            background: url(../img/check_status@2x.png);
            background-size: cover;
        }
        
        &.mifi {
            background: url(../img/mifi_signup@2x.png);
            background-size: cover;
        }
        &.wifi {
            background: url(../img/free_wifi@2x.png);
            background-size: cover;
        }
        
        .txt {
            position: absolute;
            top:0;
            left:0;
            width: 100%;
            height: 100%;
            text-align: center;
            padding-left:2.25rem;
            padding-right:2.25rem;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            p {
                font-size: 1.2rem;
                font-weight: 700;
                color: white;
                text-shadow: 2px 3px 4px rgba(0,0,0,0.5);
                margin: 0 auto;
            }
            @include media-breakpoint-up(md) {
                text-align: left;
            }
        }
    }
    
    .push-down {
        margin-top: 1.875rem;
    }
}

.section {
    .container {
        border-top:3px solid $viyaorange;
        padding-top:2.5rem;
        padding-bottom: 2.5rem;
    }
    
    input {
        width: 100%;
        
        @include media-breakpoint-up(md) {
            width: auto;
        }
    }
    
    h2 {
        font-weight: 700;
        color: $viyablue;
        text-align: center;
        
        @include media-breakpoint-up(lg) {
         //text-align: left;   
        }
    }
    
    .subhead {
        text-align: center;
        font-weight: 600;
        @include media-breakpoint-up(md) {
         //text-align: left;   
        }
        &.orange {
            color:$viyaorange;
        }
    }
    
    .direction-txt {
        font-size: 0.8125rem;
        //color: $viyaorange;
    }
    
    .steps {
        padding-top:20px;
        padding-bottom:20px;
        //border-top:1px solid #d4d4d4;
        
        @include media-breakpoint-up(md) {
            border-top:none;
        }
        p {
            span {
            display: block;
            font-size: 1.125rem;
            color: $viyaorange;
            line-height: 1.6;
            text-align: left;
            }
                
            
            font-weight: 600;
            &.body-txt {
                font-weight: 400;
            }    
        }
        
        &.step-wrap {
            background: #f3f3f3;
            @include media-breakpoint-up(lg) {
                border:1px #d4d4d4 solid;
                border-radius: 8px;
            }
        }
        
    }
    
    .key {
        padding-top: 30px;
        .row {
             margin-bottom: 0.9375rem;
            font-weight: 600;
        }
    }
    
    .map-options {
        display: flex;
        justify-content: center;
        margin-top: 30px;
        .map-option {
            flex-shrink: 1;
            border-right:2px solid $viyagray;
            
            &:last-child {
                border-right: none;
            }
            
            a {
                display: block;
                padding:3px 15px;
                font-size: 1.25rem;
                font-weight: 600;
                color: $viyagray;
                
                &.active {
                    color: $viyaorange;
                }
            }
        }
    }
    
    #step2 {
        opacity: 0.25;
        pointer-events: none;
        
        &.active {
            opacity: 1;
            pointer-events: auto;
        }
        
        p.estate-notice {
            margin-top:10px;
        }
    }
    
    #step3, #stjMessage {
        display:none;
        
        h4 {
            font-weight: 600;
            color: $viyablue;
        }
    }
    
    #notSure {
        background: #f3f3f3;
        border-right: 2px solid #d4d4d4;
        @include media-breakpoint-up(lg) {
                border:1px #d4d4d4 solid;
                border-radius: 8px;
            }
        
        figure {
            figcaption {
                padding-top:5px;
                font-weight: 600;
                font-size: 0.8125rem;
                color: $viyablue;
            }
        }
    }
    
    select {
        height:40px;
        line-height: 40px;
        width: 100%;
        font-size: 1.2rem;
        @include media-breakpoint-up(md) {
            width: auto;
        }
    }
    
    .nodeInfo {
        padding:0.9375rem;
        border:1px solid #d4d4d4;
        border-radius: 5px;
        margin-bottom: 0.9375rem;
        background: #f3f3f3;
        line-height: 2;
        strong {
            //color: $viyaorange;
        }
        
        .zoomable {
            width: 100px;
            height: auto;
            display: block;
        }
    }
    
}

#freeWifi {
    h4 {
        font-weight: 600;
        margin-top: 2rem;
        margin-bottom: 2rem;
        color: $viyablue;
    }
    
    div[data-wifi-locations] {
        display: none;
        
        &.active {
            display: block;
        }
        
        p {
            font-size: 1.825rem;
            color: $viyaorange;
        }
    }
}

.wifi-location {
    margin-bottom: 15px;
    background: url(../img/wifi-ring.png) no-repeat left 7px;
    padding-left: 35px;
    span {
        font-size: 0.8125rem;
        color:#444;
        font-weight: 400;
        
        &.location-name {
            font-size: 1.25rem;
            font-weight: 600;
            color: $viyaorange;
            
            &.soon {
                color: $viyablue;
            }
        }
    }
}

#wifiMaps {
        .wifi-map {
            display:none;
            
            &.active {
                display: block;
                max-width: 100%;
                height: auto;
            }
        }
    }

#mifi {
    background-color: #F4F0ED;
    padding: 3rem 0;
    
    span.subhead {
        font-weight: 600;
        color: $viyaorange;
    }
    h3 {
        font-weight: 700;
        color: $viyablue;
        margin: 5px 0;
    }
    
    figure {
        figcaption {
            padding-top: 10px;
            text-align: center;
            font-size:0.8125rem;
            font-weight: 600;
        }
        
        @include media-breakpoint-down(sm) {
         margin-top:1.875rem;
            margin-bottom: 2.5rem;
        }
    }
    
    .btn {
        background-color: $viyaorange;
        font-size: 0.9375rem;
        color: #fff;
        font-weight: 600;
        padding-left:1.875rem;
        padding-right: 1.875rem;
        height: 42px;
        }
}


#adminLogin {
    display: none;
    
    p {
        margin-bottom: 0;
    }
    
    input[type="submit"] {
        margin-top: 15px;
    }
}

.add-node {
    display: none;
    padding-top:2rem;
    
    button {
        width: 42px;
        background: none;
        border:none;
    }
}

#nodeEditor {
    display: none;
    
    #nodeList {
        margin:30px 0;
        tr {
            border-bottom: 1px solid #d4d4d4;
            &:nth-child(even) {
                background: #f3f3f3;
                
            }
            
            td,th {
                padding:6px;
                font-size: 0.875rem;
            }
        }
    }
}

#nodeModal, #nodeModalAdd {
    select {
        margin-bottom: 15px;
    }
    input[type="text"] {
        font-size: 0.8125;
        width: 100%;
    }
    textarea {
        width: 100%;
    }
}


footer {
    padding:40px 0;
    background: $viyablue;
    
    .legal {
     color:white;
        font-size: 0.75rem;
    }
    
    a {
        color: white;
        &:link, &:visited {
            color: white;
        }
        &:hover{
            color: rgba(255,255,255, 0.5);
        }
    }
}

//AUTOCOMPLETE
.autocomplete-suggestions {
    text-align: left; cursor: default; border: 1px solid #ccc; border-top: 0; background: #fff; box-shadow: -1px 1px 3px rgba(0,0,0,.1);

    /* core styles should not be changed */
    position: absolute; display: none; z-index: 9999; max-height: 254px; overflow: hidden; overflow-y: auto; box-sizing: border-box;
}
.autocomplete-suggestion { position: relative; padding: 0 .6em; line-height: 23px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-size: 1.02em; color: #333; }
.autocomplete-suggestion b { font-weight: normal; color: #1f8dd6; }
.autocomplete-suggestion.selected { background: #f0f0f0; }


//.wrapper {
//	max-width: 1140px;
//	width: 100%;
//	margin:0 auto;
//}
//
//.map-intro {
//	margin-bottom: 1rem;
//	p {
//		text-align: center;
//	}
//
//	.map-options, .node-map-options {
//		list-style: none;
//		margin: 0 auto;
//    	width: -webkit-fit-content;
//      	width: -moz-fit-content;
//        width: fit-content;
//		padding:0;
//		text-align: center;
//		li {
//			display: inline-block;
//			padding:5px 0.9375rem;
//			font-size:1.125rem;
//			font-weight: bold;
//			border-right:2px solid #ccc;
//			
//			&:last-child {
//				border-right:none;
//			}
//
//			a {
//				color: #ff671b;
//				display: block;
//				&.active {
//					border-bottom: 2px solid #ff671b;
//				}
//			}
//		}
//	}
//}
//.node-maps {
//	.node-map {
//		display: none;
//		&.active {
//			display: block;
//		}
//		img {
//			max-width: 100%;
//			height:auto;
//		}
//	}
//}
//.wifi-maps {
//	.map {
//		
//		display: none;
//		&.active {
//			display: block;
//		}
//
//		.vya-container {
//		position: relative;
//		height: 0;
//		//padding-top: calc(calc(340 / 767) * 100%);
//		}
//		
//		//svg
//		svg {
//			position: absolute;
//			top:0;
//			left:0;
//			width: 100%;
//			height:auto;
//		}
//
//	}
//	#stt-wifi-map {
//		.vya-container {
//			padding-top: calc(calc(340 / 767) * 100%);
//		}
//	}
//	#stx-wifi-map {
//		.vya-container {
//			padding-top: calc(calc(268 / 751) * 100%);
//		}
//	}
//	#stj-wifi-map {
//		.vya-container {
//			padding-top: calc(calc(404 / 713) * 100%);
//		}
//	}
//}
//
//.hotspot-locations {
//	ul {
//		list-style: none;
//		float: left;
//		padding:0;
//		margin-right: 30px;
//		li {
//			cursor: pointer;
//			padding:5px 0;
//			font-weight: bold;
//
//			&.active {
//				color: #ff671b;
//			}
//		}
//	}
//}