<div class="container" id="adminLogin">

<div class="row">
    
    <div class="col-10 col-md-8 col-lg-5">
        
        <h4>Welcome!</h4>
        <p>Please Log In.</p>
        
        <form id="loginAuth">
            <fieldset>
            <p>
                <input type="email" placeholder="Your Email" id="adminUser">
            </p>
            <p>
            <input type="password" placeholder="Temporary password send by an administrator" id="tempPassword">
            </p>
            <p>
                <label id="newPwMessage">Please enter a new password to sign-in.</label><br>
            <input type="password" placeholder="Password Please" id="adminPassword">
                    
            </p>
            
            <input type="submit" value="Sign In">
                
            </fieldset>
        </form>
    </div>
    
    </div>

</div>