<div id="freeWifi" class="section">
    
    <div class="container">
    
        <div class="row justify-content-center">
        
            <div class="col-12 col-md-9 intro">
            
                <h2>Free Public WiFi</h2>
                <p class="subhead">Viya has set up Viya-Fi Free WiFi Hotspots in central areas across St. Thomas, St. John and St. Croix. Below is a list of locations.  Search for and connect to the VIYA-FI_FREE_ACCESS public network. No password is required.</p>
                
            </div>
            
        </div>
        
        <div class="row justify-content-center d-none d-md-block">
            
            <div class="col-12">
            
                <div class="map-options">
                    <div class="map-option"><a href="#" data-map-target="stt">St. Thomas</a></div>
                    <div class="map-option"><a href="#" data-map-target="stx" class="active">St. Croix</a></div>
                    <div class="map-option"><a href="#" data-map-target="stj">St. John</a></div>
                </div>
            
            </div>
            
        </div>
        
        <div class="row d-none d-md-block" id="wifiMaps">
            <div class="col-12 wifi-map" data-map="stt">
                <img src="img/STT_WiFi@2x_20171220.jpg" alt="St. Thomas Wifi Maps" />
            </div>
            
            <div class="col-12 wifi-map active" data-map="stx">
                <img src="img/STX_WiFi@2x_20171220.jpg" alt="St. Thomas Wifi Maps" />
            </div>
            
            <div class="col-12 wifi-map" data-map="stj">
                <img src="img/STJ_WiFi@2x_20171220.jpg" alt="St. Thomas Wifi Maps" />
            </div>
        </div>
        
        <div class="row" id="wifiLocations">
            <div class="col-12 active" data-wifi-locations="stx">
            
                <div class="row">
                
                    <div class="col-12 col-md-4">
            
                        <div class="wifi-location">
                            <span class="location-name">Verne I. Richards Veteran Memorial Park</span><br />
                            <span>Strand St., Frederiksted</span>
                        </div> 
                        
                        <div class="wifi-location">
                            <span class="location-name">Henry E. Rohlsen Airport</span><br />
                            <span>Christiansted</span>
                        </div> 
                        
                        <div class="wifi-location">
                            <span class="location-name">Plaza Extra East</span><br />
                            <span>Queen Mary Hwy, Christiansted</span>
                        </div> 
                        
                        <div class="wifi-location">
                            <span class="location-name">Plaza Extra West</span><br />
                            <span>14 Plessen, Frederiksted (by front door)</span>
                        </div> 
                        
                        <div class="wifi-location">
                            <span class="location-name">Government House</span><br />
                            <span>Christiansted Bypass at King Cross St., Christiansted (at security gate)</span>
                        </div> 
                    </div>
                    
                    <div class="col-12 col-md-4">
            
                        <div class="wifi-location">
                            <span class="location-name">VITEMA</span><br />
                            <span>King St & King Cross St, Christiansted (2nd Floor)</span>
                        </div> 
                        
                        <div class="wifi-location">
                            <span class="location-name">Cost U Less</span><br />
                            <span>4300 Sion Farm, Christiansted</span>
                        </div> 
                        
                        <div class="wifi-location">
                            <span class="location-name">Laundry Time, Laundromat</span><br />
                            <span>2019 Mt Welcome Rd, Christiansted</span>
                        </div> 
                        
                        <div class="wifi-location">
                            <span class="location-name">Ancilmo D. Marshall Command Center, VIPD</span><br />
                            <span>Richmond, Christiansted</span>
                        </div> 
                        
                        <div class="wifi-location">
                            <span class="location-name">Viya Customer Experience Center</span><br />
                            <span>4006 Estate Diamond, Christiansted</span>
                        </div> 
                    </div>
                    
                    <div class="col-12 col-md-4">
                        <h4>Coming Soon</h4>
                        <div class="wifi-location">
                            <span class="location-name soon">Frederiksted</span><br />
                            <span>King Street</span>
                        </div> 
                        
                        <div class="wifi-location">
                            <span class="location-name soon">Five Corners</span><br />
                            <span>Christiansted</span>
                        </div> 
                        
                        <div class="wifi-location">
                            <span class="location-name soon">Sunny Isle</span><br />
                            <span>Christiansted</span>
                        </div> 
                        
                        <div class="wifi-location">
                            <span class="location-name soon">La Grande Princess</span><br />
                            <span>North Side</span>
                        </div> 
                        
                    </div>
                    
                    
                    
                </div>
            
            </div><!-- .col 1 -->
            
        </div>
        
    </div>
</div>