<header id="main-header" role="banner">
    <div class="top">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <a href="https://www.viyavi.com/">Residential</a> | <a href="http://www.viyabusiness.com/">Business</a> | <a href="tel:+13407778492">340.777.VIYA(8492) </a> | <a href="http://viyavi.com">Return to ViyaVi.com</a>
                        </div>
                    </div>
                </div>
            </div>
    
    <div class="masthead">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-md-3">
                    <a href="http://viyavi.com">
                        <img src="img/viya-logo.png" alt="Viya" />
                    </a> 
                </div>
                
                <div class="col-12 col-md-9 text-right">
                    <div class="social">#standconnected <span class="icon"><a href="https://www.facebook.com/ViyaUSVI" target="_blank"><img src="img/fb-icon.png"></a></span> <span class="icon"><a href="https://twitter.com/@viyausvi" target="_blank"><img src="img/twitter-icon.png"></a></span></div>
                </div>
                
            </div>
        </div>
    </div>
</header>