<div class="section" id="infoGraphic">

    <div class="container">
    
        <div class="row justify-content-center">
            <div class="col-12 col-md-9">
                <partial src="_special_message.html"></partial>
            </div>
            
<!--
            <div class="col-12 intro">
            
                <h2>Internet, TV &amp; Phone Service Restoration Status</h2>
                <p class="subhead">Get the latest updates on progress in your area.</p>
            </div>
            
            <div class="col-12 col-md-9">
            
                <p class="text-center">All of the residences and businesses in your area are connected to the Viya network through a main fiber line which must be restored before your home or business can receive service. Viya’s network is divided up into ‘nodes’ which are the connecting points for various areas. The maps below illustrates the boundaries where Internet, TV and/or phone service are connected on the same node. Each area is colored according to which of the three phases of restoration (outlined below) it is in.</p>
            </div>
-->
            
        </div>
        

</div>