<div class="section" id="infoGraphic">

    <div class="container">
    
        <div class="row justify-content-center">
        
            
            <div class="col-12 intro">
            
                <h2>Internet, TV &amp; Phone Service Restoration Status</h2>
                <p class="subhead orange">Get the latest updates on progress in your area.</p>
            </div>
            
            <div class="col-12 col-md-9">
            
                <p class="text-center">Nodes connect all of the private residences and businesses in your estate to the internet. During the restoration process, nodes must be restored before the connection to your home or business can be completed. The nodes listed below provide Internet, TV and phone service to your estate. Nodes are colored by which <strong>PHASE</strong> of the Restoration Process they are in as outlined above. If you have trouble identifying which node you are located in please contact Viya Customer Service at 340-777-VIYA (8492) and they will be able to inform you. * Information subject to change.</p>
            
            </div>
            
        </div>
        
        
        <div class="phase-explainer">
                
            <h3>Restoration Process</h3>
            <p class="text-center">
                Toggle each phase for detailed information on the restoration process.
            </p>
            <div class="phase" id="phaseOne">
            
                <a href="#phase1Collapse" class="phase-toggle phase1" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="phase1Collapse">
                    Phase 1
                </a>
                
                <div id="phase1Collapse" class="collapse show phase-content">
                
                    <div class="row">
                        <div class="col-12 text-center phase-intro">
                            <p>The following steps are <strong>currently</strong> taking place across the Territory:</p>
                        </div>
                    </div>
                    
                    <div class="row">
                    
                        <div class="col-6 col-md-3 step text-center">
                            <img src="img/PhaseOne_01@2x.png" alt="Phase1 Step1"/>
                            <p class="text-center">Removing and cleaning up equipment and lines from broken poles.</p>
                        
                        </div>
                        
                        <div class="col-6 col-md-3 step text-center">
                            <img src="img/PhaseOne_02@2x.png" alt="Phase1 Step2"/>
                            <p class="text-center">Raising lines and rettaching equipment onto the poles after they are set.</p>
                        
                        </div>
                        
                        <div class="col-6 col-md-3 step text-center">
                            <img src="img/PhaseOne_03@2x.png" alt="Phase1 Step3"/>                        
                            <p class="text-center">Splicing and repairing all coax and fiber-optic cables.</p>
                        
                        </div>
                        
                        <div class="col-6 col-md-3 step text-center">
                            <img src="img/PhaseOne_04@2x.png" alt="Phase1 Step4"/>
                            <p class="text-center">Certifing network performance so that it meets all proper specifications.</p>
                        
                        </div>
                    
                    </div>
                    
                    <div class="row">
                    
                        <div class="col-12">
                            <div class="node-explainer">
                            
                                <h5>What is a Node?</h5>
                                <p class="text-center">
                                    A node is an area connected by the same fiber-optic converter. It recognizes, processes and forwards data over coax to your home or business. Viya has over 250 nodes across the territory. Continue scrolling to find yours.
                                </p>
                            
                            </div>
                        </div>
                    
                    </div>
                
                </div>
            
            </div><!-- .PHASE 1 -->
            
            
            <div class="phase" id="phaseTwo">
            
                <a href="#phase2Collapse" class="phase-toggle phase2" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="phase2Collapse">
                    Phase 2
                </a>
                
                <div id="phase2Collapse" class="collapse phase-content">
                
                    <div class="row justify-content-center">
                        <div class="col-12 col-md-8 text-center phase-intro">
                            <p>Depending on damage, some nodes will be ready before others. As soon as your node is ready we will release an update in the media. You can check the status of your node any time by using the restoration status tool below.</p>
                        </div>
                    </div>
                    
                    <div class="row justify-content-center align-items-center phase2-notice">
                    
                        <div class="col-4 col-md-3 col-lg-2">
                            <img src="img/PhaseTwo_01@2x.png" alt="plug"/>
                        </div>
                        <div class="col-8 col-lg-6">
                            <p>Once your node has reached Phase Two, please make sure your Cable box and / or modem is connected and plugged into a power outlet.</p>
                        </div>
                        
                        <div class="col-12 text-center">
                            <p class="next-steps"><span>A team will be dispatched to the node to complete the following steps:</span></p>
                        </div>
                    
                    </div>
                    
                    <div class="row">
                    
                        <div class="col-12 col-md-4 step text-center">
                            <img src="img/PhaseTwo_02@2x.png" alt="phase2 step1" />                            
                            <p>This team will go to every current customer’s physical address to replace or repair any bad 'drops'. (the wire and equipment connecting the pole to your home or business).</p>
                        </div>
                        
                        <div class="col-12 col-md-4 step text-center">
                            <img src="img/PhaseTwo_03@2x.png" alt="phase2 step2" />                            
                            <p>Provided Viya is able to access the exterior of your premises, you will not need to be present for this installation.</p>
                        </div>
                        
                        <div class="col-12 col-md-4 step text-center">
                            <img src="img/PhaseTwo_04@2x.png" alt="phase2 step3" />                            
                            <p>As 'drops' are replaced MOST customers should automatically see their previous service(s) restored.</p>
                        </div>
                    
                    </div>
                    
                    
                    <div class="row justify-content-center">
                    
                        <div class="col-12 col-md-10 col-lg-8">
                            <p class="text-center">
                                While most customers will see their services come on right away, some maynot. This will be most likely due to the need for repairs in the home or business.
                            </p>
                        </div>
                    
                    </div>
                
                </div>
            
            </div><!-- .PHASE 2 -->
            
            <div class="phase" id="phaseThree">
                <a href="#phase3Collapse" class="phase-toggle phase3" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="phase3Collapse">
                    Phase 3
                </a>
                
                <div id="phase3Collapse" class="collapse phase-content">
                   <div class="row">
                    
                     <div class="col-12 col-md-6 col-lg-5 text-center">
                         
                         <h4>If your service<br />is activated.</h4>
                         
                         <img src="img/PhaseThree_01@2x.png" alt="Service on" />
                         
                         <p class="active">Viya will do a final test on your line, end-to-end to ensure it is working properly.</p>
                         
                         <img src="img/down-arrow@2x.png" class="down-arrow" />
                         
                         <img src="img/PhaseThree_02@2x.png" alt="Service on" />
                         
                         <p class="active">
                            Your account will be activated to the packages and rates you received prior to the hurricanes.
                         </p>
                         
                         <img src="img/down-arrow@2x.png" class="down-arrow" />
                        
                         <p class="active">Viya will complete the restoration by resuming your billing.</p>
                         
                    </div>
                    
                    <div class="col-12 col-md-6 col-lg-5 offset-lg-2 text-center">
                        <h4>If your service is not activated.</h4>
                        <img src="img/PhaseThree_03@2x.png" alt="Service on" />
                         
                         <p class="active">You most likely need repairs done to your equipment / wiring within the home or business.</p>
                         
                         <img src="img/down-arrow@2x.png" class="down-arrow" />
                         
                         <img src="img/PhaseThree_04@2x.png" alt="Service on" />
                         
                         <p class="active">If you are not home or at the business, Viya will leave behind a tag, letting you know to call Viya and set up an appointment for a home or office visit.</p>
                         
                         <img src="img/down-arrow@2x.png" class="down-arrow" />
                        
                        <img src="img/PhaseThree_05@2x.png" alt="Service on" />
                        
                         <p class="active">
Viya will come at your appointment time and make the necessary repairs to the primary outlet within your home or business.</p>
                    </div>
                    
                    </div>
                </div>
            </div>
        
        </div>
        
    
    </div><!--.container-->

</div>