<div id="mifi">
    <div class="container">

        <div class="row align-items-center justify-content-center">

            <div class="col-12 col-md-5 col-lg-6 order-2 order-md-1">
                <figure>
                    <img src="img/mifi-device.png" alt="Alcatel MiFi" />
                    <figcaption>Alcatel LinkZone Mobile Data Hotspot</figcaption>
                </figure>
                
                <a class="btn d-block d-md-none" href="https://viyavi.com/connect/" target="_blank">Sign Up Now</a>
            </div>

            <div class="col-12 col-md-7 col-lg-6 order-1 order-md-2">
                <span class="subhead">Mobile Internet Solution</span>
                <h3>MiFi Hotspot Devices</h3>
                <p>Viya has aimed to provide interim Internet Service to ALL of our Internet customers across all three islands until your wired service can be restored. We have taken time and care to develop new, temporary ‘Restoration Mobile Data Plans’ for Viya-Connect mobile hotspot devices (MiFis) on our new 4G LTE Network. We have a new, convenient appointment tool to help you sign-up in advance for this service. You will need a current Viya Internet account number to schedule an appointment.</p>
                
                <a class="btn d-none d-md-inline-block" href="https://viyavi.com/connect/" target="_blank">Sign Up Now</a>
                
            </div>

        </div>

    </div>
</div>