<div class="section" id="nodeMaps">
   
   <div class="container">
        
       <div class="row justify-content-center">
        
            
            <div class="col-12 col-md-10 col-lg-8 intro">
            
                <h2>Find Your Estate</h2>
                
                <p class="text-center subhead">Don't know your estate? View the map to help find your closest node. If you know your estate, enter it below to get the current status of the node(s) in your area.</p>
            </div>
            
        </div>
    
        <div class="map-select">
    
           <div class="option">

               <a class="map-link active" href="#stt" data-map="stt">St. Thomas</a>

           </div>

           <div class="option">

               <a class="map-link" href="#stx" data-map="stx">St. Croix</a>

           </div>

           <div class="option">

               <a class="map-link" href="#stj" data-map="stj">St. John</a>

           </div>

        </div>
       
       <div class="node-map-wrapper">
       
            <div class="node-map active" id="stt" data-map-id="stt">
                <img src="img/STT@2x-80.jpg" alt="St. Thomas nodes" data-action="zoom" data-original="img/STT@2x-80.jpg" />
            </div>
           
           <div class="node-map" id="stx" data-map-id="stt">
                <img src="img/STX@2x-80.jpg" alt="St. Croix nodes" data-action="zoom" data-original="img/STX@2x-80.jpg" />
            </div>
           
           <div class="node-map" id="stj" data-map-id="stt">
                <img src="img/STJ@2x-80.jpg" alt="St. John nodes" data-action="zoom" data-original="img/STJ@2x-80.jpg" />
            </div>
       
       </div>
       
    
    </div>
    
</div>