<div class="container" id="pageTop">
    <div class="row">
        <div class="col-12">
            <div class="hero">
                <div class="hero-content">
                    <img src="img/we-stand-connected.png" alt="We Stand Connected" />
                    <p>Viya is committed to helping our island recover.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row push-down">
        <div class="col-12 col-md-3">
            <div class="jump status">
                <div class="txt">
                    <p>Check My Restoration Status</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-3">
            <div class="jump wifi">
                <div class="txt">    
                    <p>Find Nearest FREE Public WiFi</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-3">
            <div class="jump mifi">
                <div class="txt">
                    <p>Sign-up for a FREE MiFi Device</p>
                </div>
            </div>
        </div>
    </div>
</div>