<div id="serviceStatus" class="section">
    
    <div class="container">
    
        <div class="row">
        
            <div class="col-12 intro">
            
                <h2>Internet, TV &amp; Phone Service Restoration Status</h2>
                <p class="subhead orange">Get the latest updates on our progress in your area.</p>
                
            </div>
            
        </div>
        
        
        <div class="row">
            
<!--
            <div class="col-12 col-lg-3 key">
                <div class="row  align-items-center">
                    <div class="col-2 col-md-3"><img src="img/orange-circle.png" /></div>
                    <div class="col">Ready for Install</div>
                </div>
                 <div class="row align-items-center">
                    <div class="col-2 col-md-3"><img src="img/blue-circle.png" /></div>
                    <div class="col">Restoration In Progress</div>
                </div>
                 <div class="row align-items-center">
                    <div class="col-2 col-md-3"><img src="img/white-circle.png" /></div>
                    <div class="col">Clean Up</div>
                </div>
            </div>
-->
                        
            <div class="col-12 col-lg-12">
            
                <div class="row">
                    <div class="col-12 col-md-5 col-lg-3 steps" id="step1">
                        <p>
                            <span>Step 1</span>
                            What island do you live on?
                        </p>
                        <select id="islandSelect">
                            <option>Choose your island</option>
                            <option value="stt">St. Thomas</option>
                            <option value="stx">St. Croix</option>
                            <option value="stj">St. John</option>
                        </select>
                    </div>
            
                <div class="col-12 col-md-6 col-lg-9 steps" id="step2">
                    <p>
                        <span>Step 2</span>
                        What estate is your primary residence or business located in? 
                    </p>

                    <input type="text" id="estateInput" name="estateInput" placeholder="Ex: Agnes Fancy">
                </div>
                    
                <div class="col-12 col-md-6 col-lg-9 steps" id="stjMessage">
                    <h3>St. John information coming soon.</h3>
                </div>

                <div class="col-12 steps" id="step3">
                    <p>
                        <span>Restoration Status</span>
                    </p>
                    <p class="body-txt">Nodes connect all of the private residences and businesses in your estate to the internet. During the restoration process, nodes must be restored before the connection to your home or business can be completed. The nodes listed below provide Internet, TV and phone service to your estate. Nodes are colored by which PHASE of the Restoration Process they are in as outlined above.  If you have trouble identifying which node you are located in please contact Viya Customer Service at 340-777-VIYA (8492) and they will be able to inform you.
* Information subject to change.</p>
                    <div id="nodeList" class="row"></div>
                </div>

                
                
            
            </div>
            
        </div>
        </div>
        
    </div>

</div>