<div id="serviceStatus">
    
    <div class="container">
    
        <div class="row">
        
            <div class="col-12 intro">
            
                <h2>Internet, TV &amp; Phone Service Restoration Status</h2>
                <p class="subhead orange">Get the latest updates on our progress in your area.</p>
                
            </div>
            
        </div>
        
         <div class="row d-none d-md-block">
            <div class="col-12 text-center">
                
                <div class="map-options">
                    <div class="map-option"><a href="#" data-map="stt" class="active">St. Thomas</a></div>
                    <div class="map-option"><a href="#" data-map="stx">St. Croix</a></div>
                    <div class="map-option"><a href="#" data-map="stj">St. John</a></div>
                </div>
                
             </div>
             
             <div class="col-12" id="nodeMaps">
                <img src="img/STT_Node_Map@2x_20171220.jpg" data-mapid="stt" alt="St. Thomas" class="node-map active" />
                <img src="img/STX_Node_Map@2x_20171220.jpg" data-mapid="stx" alt="St. Thomas" class="node-map" />
                <img src="img/STJ_Node_Map@2x_20171220.jpg" data-mapid="stj" alt="St. Thomas" class="node-map" />
             </div>
             
        </div>
        
        <div class="row">
            
            <div class="col-12 col-lg-3 key">
                <div class="row  align-items-center">
                    <div class="col-3"><img src="img/orange-circle.png" /></div>
                    <div class="col">Ready for Install</div>
                </div>
                 <div class="row align-items-center">
                    <div class="col-3"><img src="img/blue-circle.png" /></div>
                    <div class="col">Ready for Install</div>
                </div>
                 <div class="row align-items-center">
                    <div class="col-3"><img src="img/white-circle.png" /></div>
                    <div class="col">Ready for Install</div>
                </div>
            </div>
                        
            <div class="col-12 col-lg-9">
            
                <div class="row">
                    <div class="col-12 col-md-5 steps" id="step1">
                        <p>
                            <span>Step 1</span>
                            What island do you live on?
                        </p>
                        <select id="islandSelect">
                            <option>Choose your island</option>
                            <option value="stt">St. Thomas</option>
                            <option value="stx">St. Croix</option>
                            <option value="stj">St. John</option>
                        </select>
                    </div>
            
                <div class="col-12 col-md-6 steps" id="step2">
                    <p>
                        <span>Step 2</span>
                        What estate is your primary residence located in?
                    </p>

                    <input type="text" id="estateInput" name="estateInput">
                </div>

                <div class="col-12 steps" id="step3">
                    <p>
                        <span>Restoration Status</span>
                    </p>
                    <p class="body-txt">Nodes connect all of the private residences and businesses in your estate to the internet. During the restoration process, nodes must be restored before the connection to your home or business can be completed. The nodes listed below provide Internet, TV and phone service to your estate.</p>
                    <div id="nodeList" class="row"></div>
                </div>

                
                
            
            </div>
            
        </div>
        </div>
        
    </div>

</div>