<div id="serviceStatus" class="section">
    
    <div class="container">
        
        <div class="row">
            <div class="col-12 steps step-wrap">
                <h4>Know your estate?</h4>
                <div class="row">
                 
                    <div class="col-12">
            
                <div class="row">
                    <div class="col-12 col-lg-4 steps" id="step1">
                        <p>
                            <span>Step 1</span>
                            What island do you live on?
                        </p>
                        <select id="islandSelect">
                            <option>Choose your island</option>
                            <option value="stt">St. Thomas</option>
                            <option value="stx">St. Croix</option>
                            <option value="stj">St. John</option>
                        </select>
                    </div>
            
                <div class="col-12 col-lg-8 steps" id="step2">
                    <p>
                        <span>Step 2</span>
                        What estate is your primary residence or business located in? 
                    </p>

                    <input type="text" id="estateInput" name="estateInput" placeholder="Ex: Agnes Fancy" size="25">
                    
                </div>
                    
                <div class="col-12 col-md-8 col-lg-5 steps" id="stjMessage">
                    <h4>St. John information<br />coming soon.</h4>
                </div>
                
                


                
                
            
            </div>
            
        </div>
                </div>
                
            
            </div>
        </div>
        
        <div class="row">
            <div class="col-12 steps" id="step3">
                    <p>
                        <span>Restoration Status</span>
                    </p>
                    
                    <div id="nodeList" class="row"></div>
                </div>
        </div>
        
    </div>

</div>