
    <div class="row">
        <div class="col-12 special-message">
        
            <p style="background-color: #efece7; color:#ff671f;"><strong>Construction of the Viya network is now officially COMPLTE on the islands of St. Croix and St. Thomas!</strong></p>
            <p style="color:#232323; font-size:0.875rem;">We will continue to optimize and certify the network over the next few weeks. During this process Viya will be able to identify and correct overlooked construction pieces or noise on the line. During this adjustment period, customers who have been restored my experience short-term service outages. <strong>All customers who are still waiting for service restoration are encouraged to please call <a href="tel:+13407778492">777-VIYA (8492)</a> to request a service appointment.</strong> An installer will need to visit your home to complete the final step of the restoration process.</p>
        </div>
    </div>
