
    <div class="row">
        <div class="col-12 col-md-10 mx-auto special-message">
        
<!--
            <p style="background-color: #efece7; color:#ff671f;"><strong>Waiting on your Viya service(s) to be restored?</strong><br />
An appointment is required for Viya to complete any remaining service restorations. Request yours now!<br />
            <a href="http://viya.vi/getrestored" target="_blank" style="display: inline-block; padding:10px 25px; background-color: #0098bb; margin:30px auto 0; color:white; font-size: 0.875rem; border-radius: 5px;"><strong>Make Your Appointment Today</strong></a>
            </p>
-->
            
            <p style="color:#232323; font-size:0.875rem;"><strong>Construction of the Viya network is complete on the islands of<br />St. Croix and St. Thomas.</strong><br /><br />We are currently working to complete restoration on St. John.<strong> All customers who are still waiting for service restoration are encouraged to please call <a href="tel:+13407778492">777-VIYA (8492)</a> to request a service appointment.</strong> An installer will need to visit your home to complete the final step of the restoration process.</p>
        </div>
    </div>
