
    <div class="row">
        <div class="col-12 special-message">
        
            <p style="background-color: #efece7; color:#ff671f;"><strong>Waiting on your Viya service(s) to be restored?</strong><br />
An appointment is required for Viya to complete any remaining service restorations. Request yours now!<br />
            <a href="http://viya.vi/getrestored" target="_blank" style="display: inline-block; padding:10px 25px; background-color: #0098bb; margin:30px auto 0; color:white; font-size: 0.875rem; border-radius: 5px;"><strong>Make Your Appointment Today</strong></a>
            </p>
            
            <p style="color:#232323; font-size:0.875rem;"><strong>Construction of the Viya network is now officially COMPLETE on the<br />islands of St. Croix and St. Thomas!</strong><br />We will continue to optimize and certify the network over the next few weeks. During this process Viya will be able to identify and correct overlooked construction pieces or noise on the line. During this adjustment period, customers who have been restored my experience short-term service outages. <strong>All customers who are still waiting for service restoration are encouraged to please call <a href="tel:+13407778492">777-VIYA (8492)</a> to request a service appointment.</strong> An installer will need to visit your home to complete the final step of the restoration process.</p>
        </div>
    </div>
